<%- include("../partial/header.ejs") %>
<div class="buy_bar" style="border: 5px;background-color: black; ">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p style="color: white; font-weight: bold;" class="Font_Size_Master_Heading"><%= Data[0]?.Seo_Title %>
        </p>
      </div>

      <div class="col-sm-4">
        <div class="pull-right" style="margin-left:50px;">
          <p style="color: white; font-weight: bold;" class="ContactNO"><img src="><%= Data.Featuredimage %>" class="img-responsive FloatLeftImage">
            <%= Data[0]?.Seo_Title %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="counts section-bg">
  <div style="max-width: 100rem; margin-left:50px; padding-right: 50px" class="card-body">
    <!--              style="margin-left:450px; margin-right:450px; margin-top:1px"-->
    <p class="card-title" style="text-align:center"><b>Instructor-led live online classes</b></p>
    <div class="alert alert-info" size="-100px;" style="border: 100px;" role="alert">

      <p class="card-title" style="color:black;"><%= Data[0]?.ClassesSchedule %> | <%= Data[0]?.ClassesSchedule %></p>
      <!--               style="margin-top:1px; margin-left: 600px;" -->
      <p style="color:black;font-weight: bold;"> <%= Data[0]?.Seo_Title %>
      <div class="card-text">
        <h2><span style="float: left" class="badge badge-success">$<%= Data[0]?.Price %></span></h2>
      </div>
      <div class="card-text">
      </div>
    </div>

    <div>
      <br>
      <h2><b> <%= Data[0].Seo_Title %></b></h2>
      <%= Data[0].Description %>
    </div>

    <!--        Start of Training Features-->
    <div class="container">
      <p style="text-align:center;"><b>Training Features</b></p>
      <p class="title-desc"></p>

      <div class="row">

        <div class="col-lg-4 col-md-6 text-center">
          <div class="count-box">
            <i class="icofont-simple-smile" style="color: #20b38e;"></i>
            <span>
              <h6>Instructor-led Sessions</h6>
            </span>

            <p>Both Weekdays and Weekend batches are available.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
          <div class="count-box">
            <i class="icofont-document-folder" style="color: #c042ff;"></i>
            <span>
              <h6>Real-Life Case Studies</h6>
            </span>
            <p>During the sessions you will be working on the case studies provided by the trainer.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
          <!--              data-aos-delay="400"-->
          <!--              data-aos="fade-up"-->
          <div class="count-box">
            <i class="icofont-live-support" style="color: #46d1ff;"></i>
            <span>
              <h6>Lifetime Access</h6>
            </span>
            <p>You will get the life time access of training material including videos & study guides..</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 text-center">
          <div class="count-box">
            <i class="icofont icofont-chair" style="color: #ffb459;"></i>
            <span>
              <h6>Assignments</h6>
            </span>
            <p>Each class will be followed by practical assignments to practice the concepts covered in class
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="count-box">
            <i class="icofont-users-alt-5" style="color: #28a745;"></i>
            <!--              <span data-toggle="counter-up">1100</span>-->
            <span>
              <h6>24 x 7 Expert Support</h6>
            </span>
            <p>We have a lifetime 24x7 online support team to resolve all your technical queries,through a ticket based tracking system..</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="count-box">
            <i class="icofont icofont-hand-power" style="color: #007bff;"></i>
            <!--              <span data-toggle="counter-up">100</span>-->
            <span>
              <h6>Certification</h6>
            </span>
            <p> Towards the end of the course, you will be awarded with Training competition certification based on you performance.</p>
          </div>
        </div>
      </div>

    </div>

    <!--        END of Training-->
    <div class="container">
      <h5 style="text-align:center;"><b>Course Curriculum</b></h5>
      <p class="title-desc"></p>
      <% if(Data.length > 0){
        Data.map((item) => { %>
      <h6>
        <button style="width:100%; text-align:left;" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <li style="font-weight: bold;"><%= item.Course_Curriculum_Title  %></li>
        </button>
      </h6>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <%= item.Course_Curriculum_Description  %>
        </div>
      </div>
      <% })
        }else{ %>
            <h5>Not Data Found</h5>
      <% } %>


      <h5 style="text-align:center;"><b>FAQ's</b></h5>
      <p class="title-desc"></p>
      <h6>
        <button style="width:100%; text-align:left;" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapsef" aria-expanded="false" aria-controls="collapseExample">
          <li style="font-weight: bold;">What if I Miss a Class</li>
        </button>
      </h6>
      <div class="collapse" id="collapsef">
        <div class="card card-body">

          <a>You will never miss a lecture at CertAchiever! You can choose either of the two options:</a>
          <li><a>View the recorded session of the class available in your LMS.</a></li>
          <li><a>·You can attend the missed session, in any other live batch."</a></li>
        </div>
      </div>

      <h6>
        <button style="width:100%; text-align:left;" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseG" aria-expanded="false" aria-controls="collapseExample">
          <li style="font-weight: bold;">Can I attend a Demo Session before enrollment</li>
        </button>
      </h6>
      <div class="collapse" id="collapseG">
        <div class="card card-body">
          <a>We have limited number of participants in a live session to maintain the Quality Standards. So,
            unfortunately participation in a live class without enrollment is not possible. However, you can
            go
            through the sample class recording and it would give you a clear insight about how are the
            classes
            conducted, quality of instructors and the level of interaction in the class.</a>
        </div>
      </div>

      <h6>
        <button style="width:100%; text-align:left;" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseE" aria-expanded="false" aria-controls="collapseExample">
          <li style="font-weight: bold;">What if I have some more queries??</li>
        </button>
      </h6>
      <div class="collapse" id="collapseE">
        <div class="card card-body">
          <a>You can give us a CALL at +918882136965 (IN) OR email at admin@certachiever.com</a>
        </div>
      </div>

      <h5 style="text-align:center;"><b>Certification</b></h5>
      <p class="title-desc"></p>
      <h6>
        <button style="width:100%; text-align:left;" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapsew" aria-expanded="false" aria-controls="collapseExample">
          <li style="font-weight: bold;">Training Certification Process</li>
        </button>
      </h6>
      <div class="collapse" id="collapsew">
        <div class="card card-body">
          <li><a>Once your training will complete, you will be awarded with training completion certification
              from the Trainer.</a></li>
        </div>
      </div>


    </div>


</section>

<%- include("../partial/footer.ejs") %>